@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.section-adv-wrapper{
    width: 100vw;
}
.adv-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.adv-heading h4{
    color: green;
    font-size: 1.7rem;
    font-family: "Be Vietnam Pro", sans-serif;
    
    
}
.adv-heading h3{
    color: black;
    font-size: 2.5rem;

    width: 600px;
}
.adv-cards-wrapper{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
  
}
.adv-cards-img-container{
    width: 7rem;
    height: 7rem;
    background-color:green;
    display: flex;
    align-items: center;
    justify-content: center;

}
.adv-cards-img-container img{
    width: 3.7rem;
    height: 3.7rem;
    margin: 0px;
}
.adv-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.adv-text{
    width: 365px;
    font-family: "Be Vietnam Pro", sans-serif;
  
}
.adv-text p{
    font-size: 0.9rem;
}

@media only screen and (max-width:426px){
    .adv-cards-wrapper{
        padding:20px ;
    }
    .adv-cards-img-container{
        width: 6rem;
        height: 6rem;
        border-radius: 20px;
        background-color:green;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .adv-heading h4{
        color: green;
        font-size: 1.2rem;
        font-family: "Be Vietnam Pro", sans-serif;
        margin-top: 0;
        
        
    }
    .adv-heading h3{
        color: #333;
        font-size: 2.2rem;
        width: 280px;
        font-family: "Be Vietnam Pro", sans-serif;
    }
    .adv-text h2{
        font-size: 1.3rem;
    }
    .adv-text p{
        font-size: 1rem;
        width: 340px;
    }
    @media only screen and (max-width:320px){
        .adv-text{
            width: 290px;
        }
        .adv-text p{
        width: 290px;
        }
    }

}