@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Container for the video and text */
.video-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Full height of the viewport */
    overflow: hidden;
  }
  
  /* Make the video take up full width and height */
  .responsive-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the screen */
    display: block;
  }
  
  /* Centered dynamic text over the video */
  .dynamic-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: bold;
    white-space: nowrap;
  }
  
  /* Custom play button centered on the video */
  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 50px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 20px;
    width: 100px;
    height: 100px;
    z-index: 20;
  }
  .play-button img{
    width: 100px;
  }
  
  .play-button:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  
  /* Mute button in the top-right corner */
  .mute-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .mute-button:hover {
    color:black;
  }