/* Import the custom font */
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');

/* General body styling */
body {
  margin: 0;
  font-family: 'Just Another Hand', cursive;
  min-height: 200vh; /* Ensure enough scrollable content */
}

/* General navigation styles */
nav {
  position: sticky; /* Make the navbar sticky */
  top: 0; /* Stick to the top of the viewport */
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  height: 90px;
  padding: 30px;
  z-index: 100; /* Ensure navbar is above the content */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.logo-img {
  width: 280px;
  object-fit: fill;
  margin: 0;
}

.nav-links-container {
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
  color: green;
  text-decoration: underline;
  transition: transform 0.3s ease;
  transform: translateY(-2px);
}

/* Hamburger menu styles */
.hamburger-menu {
  z-index: 21;
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  border: none;
  background: inherit;
}

.bar {
  width: 25px;
  height: 3px;
  background: white;
  transition: 0.3s;
}

.bar1-open {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.bar2-open {
  opacity: 0;
}

.bar3-open {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Media query for small screens */
@media (max-width: 426px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; /* Use 100% instead of 100vw */
    top: 0;
  }

  .logo-img {
    width: 211px;
    padding-top: 15px;
  }

  .nav-links-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 90px; /* Adjust for navbar height */
    right: 0;
    left: 0;
    box-shadow: 0 4px 6px rgba(0.4, 0.1, 0.1, 0.1);
    padding: 10px;
    gap: 10px;
    width: 100%; /* Use 100% instead of 100vw */
    height: 150px; /* Adjust as needed */
  }

  .nav-links-container-open {
    display: flex; /* Show navigation links when menu is open */
    background: black;
    border-top: 2px solid white;
  }

  .hamburger-menu {
    display: flex; /* Show hamburger menu on small screens */
  }
}
