/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');


.section-two {
    padding: 50px 20px;
    background: white;
}

.header-wrapper-second-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    text-align: center;
    padding: 20px 40px 90px;
}

.header-wrapper-second-section h2{
    font-size:4.5rem;
    font-weight: 600;
    font-family: "Poppins",Verdana, Geneva, Tahoma, sans-serif;
    width: 600px;
    text-align: left;

}

.header-wrapper-second-section p {
    font-size: 1.7rem;
    font-family: "Poppins";
    font-weight: 300;
    color: #333;
    text-align: left;
}


.card {
    background-color: white;
    border: 1px solid #e0e0e0;
     text-align: left;
     width: 329px;
     height: 440px;
}

.img-container img {
    width: 100%;
    object-fit: cover;
    height: 200px;

}

.text-container {
    padding: 20px;
}

.text-container figcaption {
    font-size: 1.4rem;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

.text-container p {
    font-size: 1rem;
    line-height: 1.6;
    color: #666;
}
.swiper-wrapper{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
/* Swiper container customization */
.swiper-container {
    padding: 30px 0;
}

/* Breakpoints for smaller screens */
@media (max-width: 1024px) {
    .header-wrapper-second-section h2 {
        font-size: 2rem;
    }

    .header-wrapper-second-section p {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .header-wrapper-second-section {
        flex-direction: column;
    }
    .header-wrapper-second-section h2 {
        font-size: 2.8rem;
    }

    .header-wrapper-second-section p {
        font-size: 1.3rem;
    }

    .card {
        width: 309px;
        height: 440px;
    }

    .img-container img {
        height: 180px;
    }
    .cards-wrapper {
        width: 100%;
    
    }
}

@media (max-width: 425px) {
    .header-wrapper-second-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: center;
        padding: 20px 40px 90px;
    }
    
    .header-wrapper-second-section h2 {
        font-size: 4rem;
        width: 300px;
        text-align: left;
    }

    .header-wrapper-second-section p {
        font-size: 1.5rem;
        font-weight: 300;
        text-align: left;
    }

    .card {
        width: 100%;
        height: 400px;
      
    }

    .img-container img {
        height: 150px;
    }
    .text-container figcaption{
        font-size: 1.5rem;
        font-weight: 800;
        
    }
}

