/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&display=swap');

.section-two {
    padding: 50px 20px;
    background: white;
}

.header-wrapper-second-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px 90px;
    text-align: left;
    gap: 30px;
}

.header-wrapper-second-section h2 {
    font-size: 4.5rem;
    color: black;
    font-weight: 900;
    font-family: "Be Vietnam Pro", sans-serif;
    width: 100%;
}

.header-wrapper-second-section p {
    font-size: 1.7rem;
    font-weight: 300;
    color: black;
}

.img-container {
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img-container:hover {
    transform: scale(1.05);
}

.img-container .card_image {
    width: 100%;
    height: 350px;
    object-fit: cover; 
  
}

.cards-wrapper {
    padding: 105px;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.img-container figcaption {
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: black;
    padding-top: 0px;
}

.cards-wrapper a {
    text-decoration: none;  
}

.what-offer h1 {
    font-family: "Poppins", sans-serif;
    font-size: 2.6rem;
    font-weight: 400;
    color: black;
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    .header-wrapper-second-section h2 {
        font-size: 2rem;
    }

    .header-wrapper-second-section p {
        margin-bottom: 0;
        font-size: 1rem;
    }

    .cards-wrapper {
        padding: 13px;
    }
}

@media only screen and (max-width: 768px) {
    .header-wrapper-second-section {
        flex-direction: column;
    }

    .header-wrapper-second-section h2 {
        font-size: 2.8rem;
    }

    .header-wrapper-second-section p {
        font-size: 1.3rem;
    }

    .cards-wrapper {
        padding: 10px;
    }
}

@media only screen and (max-width: 375px) {
    .section-two .header-wrapper-second-section h2 {
        font-size: 2.6rem;
        color: black;
        font-weight: 900;
        font-family: "Be Vietnam Pro", sans-serif;
        width: 100%;
    }
}

@media only screen and (max-width: 425px) {
    .header-wrapper-second-section h2 {
        font-size: 3rem;
        width: 100%;
    }

    .header-wrapper-second-section p {
        font-size: 1.5rem;
    }

    .img-container .card_image {
        height: 300px;
    }

    .cards-wrapper {
        padding: 10px;
    }

    .what-offer {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-size: 0rem;
        font-weight: 400;
        color: rgb(199, 22, 22);
        margin-bottom: 60px;
    }
}
@media only screen and (max-width: 320px) {

    .section-two .header-wrapper-second-section h2{
        font-size: 2rem;
    }
    .header-wrapper-second-section p {
        font-size: 1.1rem;
    }
}
